@{
	ViewData["Title"] = "Home Page";
}

<div class="shortener-form-wrap">
	<section class="shortener-form">
		<h3>Enter your link below and get it shortened, nice and easy.</h3>
		<div class="form-inline">
			<label for="url" class="mr-sm-2">Email address:</label>
			<input type="text" class="form-control mb-2 mr-sm-2" name="url" id="url" placeholder="Shorten your URL" />
			<button type="submit" id="submit" class="btn btn-primary mb-2">Submit</button>
		</div>
		<div class="resp-area" id="resp-area">
		</div>
	</section>
</div>

<script>
	var submitBtn = document.querySelector("#submit");
	var urlInput = document.querySelector("#url");

	submitBtn.onclick = function (ev) {
		let url = urlInput.value;
		fetch("/", {
			method: "POST",
			body: JSON.stringify(url),
			headers: {
				'Content-Type': 'application/json'
			}
		}).then(res => res.json())
			.then(response => {
				var a = document.createElement('a');
				var linkText = document.createTextNode("Link");
				a.appendChild(linkText);
				a.title = "Link";
				a.href = response.token;
				a.target = "_blank";
				document.getElementById("resp-area").appendChild(a);
				console.log(response);
			});
	}
</script>